@media screen and (min-width: 1500px) {
  #c-grid {
    .grid-item {
      width: 33%;
    }
    .grid-sizer {
      width: 33%;
    }
  }
}

@media screen and (min-width: 768px) {
  #c-grid {
    margin: 0 -15px;
  }

  .column {
    padding: 0 15px;
  }
  .grid-item {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1499px) {

  #c-grid {
    .grid-item {
      width: 50%;
    }
    .grid-sizer {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  #c-grid {
    margin: 0 -10px;
  }

  .column {
    padding: 0 10px;
  }

  #c-grid {
    .grid-item {
      width: 100%;
      padding: 0 10px;
    }
    .grid-sizer {
      width: 100%;
    }
  }
}

.column {
  float: left;
}

.size-1of1 {
  width: 100%;
}

.size-1of2 {
  width: 50%;
}

.size-1of3 {
  width: 33.333%;
}
